# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
.terraform.tfstate.backup

# Local env files
.env

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Secrets
secrets.auto.tfvars

# Terraform plan
plan.out
